@import '@/styles/base/variables';

.swiper {
	max-height: 700px;
	border-radius: 1.15rem;
}

.slide {
	border-radius: 1.15rem;
	height: auto;
	object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
	margin-top: 0;
	width: 88px;
	top: 0;
	height: 100%;
	color: $font-white;

	&:hover {
		background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.28));
	}
}

.swiper-button-prev {
	left: 0;

	&:hover {
		background: linear-gradient(-90deg, transparent, rgba(0, 0, 0, 0.28));
	}
}

.swiper-button-next {
	right: 0;
}

.swiper-pagination-bullet {
	background: $font-white;
	opacity: 0.45;
}

.swiper-pagination-bullet-active {
	background: $accent;
	opacity: 1;
}
