@import '@/styles/base/variables';

.swiper {
	max-height: 700px;
}

.swiper-wrapper {
}

.swiper-slide {
}

.slide {
	border-radius: $radius-lg;
	height: auto;
	object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
	margin-top: 0;
	width: 100px;
	top: 0;
	height: 100%;
	color: inherit;

	&:hover {
		background: #0001;
	}
}

.swiper-button-prev {
	left: 0;
}

.swiper-button-next {
	right: 0;
}
