@import '@/styles/base/variables';

.dropdown {
	margin-bottom: 1em;
}

.button {
	display: block;
	width: 100%;
	padding: 1em;
	border-radius: $radius-sm;
	background: $font-secondary;
	color: $font-white;
	transition: $global-transition;

	&:hover {
		background: $font-secondary-hover;
	}

	&.btnActive {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.content {
	display: none;
	overflow: hidden;
	border-bottom-left-radius: $radius-lg;
	border-bottom-right-radius: $radius-lg;
	background: $background-primary;
}

.active {
	border-top: 0;
	display: block;
}

.bugfix {
	padding: $global-padding;
}

@media screen and (max-width: 768px) {
	.button {
		border-radius: $radius-sm;
		padding: 1.25em;
	}

	.new {
		text-align: center;
		padding: 1em;
	}
	.bugfix {
		text-align: center;
		padding: 1em;
	}
}
