.versions {
	min-height: 100vh;
}

.inner {
}

.info {
	display: flex;
	padding: 2em;
	border-radius: 1em;
	background: #222d;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.info {
		margin-top: -2em;
		padding: 1em;
		border-radius: 0.5em;
	}
}
