@import '@/styles/base/variables';

.versions {
	min-height: 100vh;
}

.inner {
}

.info {
	display: flex;
	padding: $global-padding;
	border-radius: $radius-lg;
	background: $background-primary;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.info {
		margin-top: -2em;
		padding: 1em;
		border-radius: $radius-sm;
	}
}
