.versions {
	min-height: 100vh;
}

.inner {
	display: flex;
	gap: 2em;
}

.info {
	flex: 4;
	display: flex;
	padding: 2em;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	background: #222d;
	text-align: center;
}
