.widget {
	flex: 2;
	max-width: 400px;
	background: #222d;
	border: 5px solid #5865f2;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;

	.members {
		padding: 2em;
	}

	.title {
		text-align: center;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
		background: #5865f2;
		color: #fff;
		font-size: 1em;
		font-weight: 500;
	}

	.list {
		max-height: 500px;
		border-bottom-left-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
		overflow-y: scroll;
		background: #2a2a2aaa;

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background: #5865f2;
		}
	}

	.member {
		display: flex;
		align-items: center;
		padding: 0 0.5em;
		color: #5865f2;
		// justify-content: space-between;

		.activity {
			font-size: 0.8em;
			color: #555a;
			margin-left: auto;
			overflow-x: hidden;
		}
	}
}

@media screen and (max-width: 1140px) {
	.widget {
		display: none;
	}
}
