@import '@/styles/base/variables';

.widget {
	flex: 2;
	max-width: 400px;
	background: $background-primary;
	border-top-right-radius: $radius-lg;
	border-bottom-right-radius: $radius-lg;
	transition: $global-transition;

	&:hover {
		filter: brightness(0.8);
	}

	.members {
		padding: calc($global-padding - 0.5em);
	}

	.title {
		text-align: center;
		border-top-left-radius: $radius-sm;
		border-top-right-radius: $radius-sm;
		background: $font-secondary;
		color: $font-white;
		font-size: 1em;
		font-weight: 500;
	}

	.list {
		max-height: 500px;
		overflow-y: scroll;
		background: #3336;
		padding: 0 0.5em;
		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background: $font-secondary;
		}
	}

	.member {
		display: flex;
		align-items: center;
		color: $font-secondary;
		// justify-content: space-between;

		.activity {
			font-size: 0.8em;
			color: #555a;
			margin-left: auto;
			overflow-x: hidden;
		}
	}
}

@media screen and (max-width: 1140px) {
	.widget {
		display: none;
	}
}
