.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #0004;
	opacity: 0;
	transition: 0.3s;
	pointer-events: none;
	z-index: 50;

	&.active {
		opacity: 1;
		pointer-events: all;
		backdrop-filter: blur(10px);
	}
}

.modalContainer {
	padding: 2em;
	border-radius: 1em;
	transform: scale(0);
	background: #333d;
	transition: 0.3s;

	&.active {
		transform: scale(1);
	}
}

@media screen and (max-width: 768px) {
	.modalContainer {
		border-radius: 0.5em;
	}
}
