.home {
	position: relative;
	z-index: 2;
}

.story {
	margin-top: 1.5rem;
}

.inner {
	display: flex;
	gap: 1.25rem;
	align-items: stretch;
}

@media screen and (max-width: 1140px) {
	.inner {
		flex-direction: column;
	}
}
