@import '@/styles/base/variables';
@import '@/styles/base/mixins';

.logoBox {
	display: none;
	align-items: center;
	margin-left: 0.35rem;
}

.currentPage {
	margin-left: 0.65rem;
	font-size: 1.05rem;
	font-weight: 600;
}

.mobileLogo {
	width: 36px;
	height: 36px;
	object-fit: contain;
}

.showBurger {
	display: none;
}

@media screen and (max-width: 768px) {
	.logoBox {
		display: flex;
	}

	.showBurger {
		display: block;
	}

	.currentPage {
		@include display;
		font-size: 1.35rem;
		margin-right: auto;
	}
}
