.header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}

.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5em;
	background: #222d;
	font-weight: 500;
}

.showBurger {
	display: none;
}

// Phone

.logoBox {
	display: none;
	align-items: center;
	margin-left: 1em;
}

.currentPage {
	margin-left: 1em;
	font-size: 1.5em;
}

@media screen and (max-width: 768px) {
	.inner {
		height: auto;
	}

	.navigation {
		display: none;
	}

	.logoBox {
		display: flex;
	}

	.showBurger {
		display: block;
	}
}
