@import '@/styles/base/variables';

.linkWrapper {
	display: flex;
	align-items: center;
}

.link {
	display: flex;
	justify-content: center;
	margin: 0 0.2em;
	padding: 0.5em;
	background: #333b;
	border-radius: 0.5em;
	transition: $global-transition;

	&:hover {
		background: #555b;
	}
}

@media screen and (max-width: 768px) {
	.image {
		display: flex;
		width: 1.5em;
		height: 1.5em;
		margin: 0.25em;
	}
}
