.link {
	display: flex;
	justify-content: center;
	margin: 0 0.2em;
	transition: 0.3s;

	&:hover {
		filter: invert(1);
	}
}

@media screen and (max-width: 768px) {
	.image {
		display: flex;
		width: 4em;
		height: 4em;
		margin: 1em;
	}
}
