.logo {
	display: flex;
	align-items: center;
	z-index: 100;
	flex-shrink: 0;

	.image {
		width: auto;
		height: 48px;
		object-fit: contain;
	}
}

@media screen and (max-width: 768px) {
	.logo {
		display: none;
	}
}
