@import '@/styles/base/variables';

.menu {
	display: flex;
	align-items: center;
	gap: 0.15rem;
}

@media screen and (max-width: 768px) {
	.menu {
		display: block;
		margin-top: 1.5rem;
		padding: 0;
		border: none;
		font-size: 1.35rem;
	}
}
