.navigation {
	display: flex;
	font-size: 1.25em;
}

.langSelect {
	margin: 0 1em;
	border: none;
	color: #d8acad;
	background: transparent;
	cursor: pointer;
	text-align: center;

	&:focus {
		outline: none;
	}

	.selector {
		background: #222d;

		&:hover {
			background: none;
		}
	}
}

.burgerMenu {
	position: absolute;
	top: 100%;
	right: 0;
	width: 100%;
	height: 100vh;
	background: #222d;
	transform: translateX(100%);
	text-align: center;
	transition: 0.2s;
	backdrop-filter: blur(5px);

	&.activeMenu {
		transform: translateX(0);
	}
}

.showBurger {
	display: none;
}

.burgerButton {
	margin: 1em;
	background: none;
}

.burgerIcon {
	display: none;
}
.iconActive {
	display: block;
}

@media screen and (max-width: 768px) {
	.inner {
		height: auto;
	}

	.navigation {
		display: none;
	}

	.logoBox {
		display: flex;
	}

	.showBurger {
		display: block;
	}

	.langSelect {
		margin-top: 1em;
		border-radius: 0.5em;
		font-size: 2em;
	}
}
