.gallery {
	margin-top: 3em;
}

.inner {
	background: #222b;
	padding: 2em;
	border-radius: 1em;
}

.title {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.title {
		display: none;
	}
	.inner {
		padding: 1em;
		padding-top: 0.5em;
		border-radius: 0.5em;
	}
}
