@import '@/styles/base/variables';

.gallery {
	margin-top: 3em;
}

.inner {
	background: $background-main;
	padding: $global-padding;
	border-radius: $radius-lg;
}

.title {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.title {
		display: none;
	}
	.inner {
		padding: 1em;
		padding-top: 0.5em;
		border-radius: $radius-sm;
	}
}
