.developer {
}

.title {
	text-align: center;
	padding-bottom: 1em;
	border-bottom: 3px solid;
}

.links {
	display: flex;
	margin-top: 1em;
	height: auto;
}

@media screen and (max-width: 768px) {
	.developer {
		margin-bottom: 3em;
	}
	.links {
		display: flex;
		justify-content: center;
	}
}
