@import '@/styles/base/variables';

.feedback {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.title {
	text-align: center;
	padding-bottom: 1em;
	border-bottom: 3px solid $font-primary;
}
