.feedback {
	display: flex;
	flex-direction: column;
	max-width: 100%;

	.title {
		text-align: center;
		padding-bottom: 1em;
		border-bottom: 3px solid #d8acab;
	}

	.form {
		display: flex;
		justify-content: center;
		width: 400px;
		margin-top: 1em;
	}

	.email {
		flex: 8;
		display: block;
		padding: 1em;
		padding-right: 0;
		border-top-left-radius: 0.5em;
		border-bottom-left-radius: 0.5em;
		outline: none;
		background: #555b;
		color: #d8acab;

		&::placeholder {
			color: #777;
		}
	}

	.link {
		flex: 1;
		display: flex;
		align-items: center;
		padding: 0 1em;
		background: #555b;
		border-top-right-radius: 0.5em;
		border-bottom-right-radius: 0.5em;

		.icon {
		}
	}
}

@media screen and (max-width: 1024px) {
	.feedback {
		.title {
			padding-bottom: 0;
			border-bottom: none;
		}
		.form {
			max-width: 100%;
		}
	}
}
