@import '@/styles/base/variables';
@import '@/styles/base/mixins';

.footer {
	margin-top: 2.5rem;
}

.contacts {
	display: grid;
	grid-template-columns: 0.85fr 1.15fr;
	gap: 1.25rem;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1.25rem 3rem;
}

@media screen and (max-width: 1024px) {
	.contacts {
		grid-template-columns: 1fr;
	}
}
