@import '@/styles/base/variables';

.link {
	display: flex;
	align-items: center;
	padding: 0.45rem;
	border-radius: 50%;
	transition: $global-transition;

	&:hover {
		background: rgba(255, 122, 168, 0.14);
		transform: translateY(-2px);
	}

	.icon {
		width: 42px;
		height: 42px;
		object-fit: contain;
	}
}
