@import '@/styles/base/variables';

.buttons {
}

.statuslog {
	color: lightcoral;
	margin: 1em 0;
}

.wrapper {
	display: flex;
	justify-content: center;
	gap: 1em;

	.btn {
		padding: 0.5em 1em;
		border-radius: $radius-sm;
		background: $background-input;
		color: $font-white;
		transition: $global-transition;

		&:hover {
			background: #444b;
		}
	}

	.free {
	}

	.premium {
	}

	.active {
		background: $font-secondary;

		&:hover {
			background: $font-secondary;
		}
	}
}

.emailForm {
	margin-top: 1em;
	display: flex;

	.email {
		flex: 3;
		padding: 1em;
		outline: none;
		border-top-left-radius: $radius-sm;
		border-bottom-left-radius: $radius-sm;
		background: $background-input;
		color: $font-primary;

		&::placeholder {
			color: #777;
		}
	}
	.send {
		flex: 1;
		padding: 1em;
		border-top-right-radius: $radius-sm;
		border-bottom-right-radius: $radius-sm;
		color: $font-white;
		background: $font-secondary;
		transition: $global-transition;

		&:hover {
			background: $font-secondary-hover;
		}

		&:disabled {
			background: $background-button-disabled;
			cursor: default;
		}
	}
}

.download {
	margin-top: 1em;
	width: 100%;
	padding: 1em 0;
	border-radius: $radius-sm;
	background: $font-secondary;
	color: $font-white;
	transition: $global-transition;

	&:hover {
		background: $font-secondary-hover;
	}
}

@media screen and (max-width: 576px) {
	.emailForm {
		flex-direction: column;
		gap: 1em;

		.email {
			border-radius: $radius-sm;
		}

		.send {
			border-radius: $radius-sm;
		}
	}
}
