@import '@/styles/base/variables';

.buttons {
}

.statuslog {
	color: lightcoral;
	margin: 1em 0;
}

.wrapper {
	display: flex;
	justify-content: center;
	gap: 1em;

	.btn {
		padding: 0.5em 1em;
		border-radius: $radius-sm;
		background: $background-input;
		color: $font-white;
		transition: $global-transition;

		&:hover {
			background: #444b;
		}
	}

	.free {
	}

	.premium {
	}

	.active {
		background: $font-secondary;

		&:hover {
			background: $font-secondary;
		}
	}
}

.download {
	margin-top: 1em;
	width: 100%;
	padding: 1em 0;
	border-radius: $radius-sm;
	background: $font-secondary;
	color: $font-white;
	transition: $global-transition;

	&:hover {
		background: $font-secondary-hover;
	}
}

@media screen and (max-width: 576px) {
	.emailForm {
		flex-direction: column;
		gap: 1em;

		.email {
			border-radius: $radius-sm;
		}

		.send {
			border-radius: $radius-sm;
		}
	}
}
