@import '@/styles/base/variables';

.description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.imageBox {
	margin: 2em 0;
	display: none;
	.image {
		height: auto;
	}
}

.title {
	font-weight: 500;
}

.versions {
}

@media screen and (max-width: 768px) {
	.imageBox {
		display: block;

		.image {
			border-radius: $radius-sm;
		}
	}
}
