@import '@/styles/base/variables';

.images {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.85rem;

	.image {
		width: 300px;
		height: auto;
		object-fit: cover;
		border-radius: $radius-md;
		border: 1px solid $border;
		box-shadow: $shadow;
	}
}

@media screen and (max-width: 768px) {
	.images {
		display: none;
	}
}
