@import '@/styles/base/variables';

.nameTop {
	display: none;
}

.versionBox {
	display: flex;
	align-items: center;
	gap: 1em;
}

@media screen and (max-width: 576px) {
	.versionBox {
		.version {
			flex-direction: column;
		}
	}

	.name {
		display: none;
	}

	.nameTop {
		display: block;
	}
}
