@import '@/styles/base/variables';

.nameTop {
	display: none;
}

.versionBox {
	display: flex;
	align-items: center;
	gap: 1em;

	.version {
		display: flex;
		margin: 0.5em 0;
		padding: 0.5em 0.5em;
		color: $font-white;
		background: $font-secondary;

		&:hover {
			background: $font-secondary-hover;
		}
		.image {
		}
	}
}

@media screen and (max-width: 576px) {
	.versionBox {
		.version {
			flex-direction: column;
		}
	}

	.name {
		display: none;
	}

	.nameTop {
		display: block;
	}
}
